@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

body {
  font-family: Poppins,sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f7f9;
  color: #111;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.hero {
  margin: 2em 0;
  text-align: center;
}



.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin: 1em;
  box-shadow: rgba(20, 26, 40, 0.2) 0px 7px 12px;
}

.frame {
  height: 300px;
  width: 400px;
  background-color: #111;
  border-radius: 4px 4px 0 0;
}

.top {
  border-top: 2em solid #fff;
  position: relative;
  border-radius: 4px 4px 0 0;
}

.top:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: .75em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.25em 0 0 2px #fb5, 2.5em 0 0 2px #9b3;
}

.card {
    width: 400px;
    padding: 30px 0;
    text-align: center;
    background: #fff;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
    line-height: 1.6;
}

@media only screen and (max-device-width: 768px)  {
  .card-container,
  .frame,
  .card {
    width: 100%;
  }
}
